<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodfood.ape.goodfood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AchievementsActivity"
            android:label="@string/title_activity_achievements"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Recipes"
            android:label="@string/title_activity_recipes"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goodfood.ape.goodfood.HomeActivity" />
        </activity>
        <activity
            android:name=".DailyIntake"
            android:label="@string/title_activity_daily_intake"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>